<!doctype html>
<html lang="{{compact.site.language}}">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ relative_url "/assets/bootstrap/bootstrap.min.css" }}">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <link rel="stylesheet" href="{{ relative_url "/assets/custom.css" }}">

    {{~> parts/meta}}

    <title>{{~> parts/title ~}}</title>
</head>

<body>

<header class="mb-5">
    {{~> parts/header}}
</header>

<main id="main" role="main">
    {{~> parts/main}}
</main>

<footer class="mt-5 py-5">
    {{~> parts/footer}}
</footer>

<script src="{{ relative_url "/assets/popper.min.js" }}"></script>
<script src="{{ relative_url "/assets/jquery.min.js" }}"></script>
<script src="{{ relative_url "/assets/bootstrap/bootstrap.min.js" }}"></script>

</body>
</html>